  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(69,69,69,0.87);
    background-color: #eee;
  }
  main {
    flex: 1 0 auto;
  }
.padding {
    padding: 0% 10% 0%;
}
.pagination .active a {
    background-color: #303F9F;
    color: #fff;
}
.color-primary-text {
    color: #303F9F;
}
.header-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.75)));
    background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.75) 100%);
    z-index: 5;
}
.header-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}
.collapsible-body {
    background-color: #fff;
  }
.parallax-footer {
    height: 350px;
}
.modal-small {
    height: 900px;
    width: 400px;
}
.modal-middle {
    height: 100%;
    width: 50%;
}       
.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}  
.promo-example {
    overflow: hidden;
}
.promo a {
    margin: 40px 0;
    color: #303F9F;
    font-size: 7rem;
    display: block;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    color: #454545;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';    
    -webkit-font-smoothing: antialiased;
}
.footer-icons {
    color: #fff;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.fa-social {
    padding: 8px;
    margin-top: 7px;
    font-size: 30px;
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.material-icons:hover {
    opacity: 0.7;
}
.fa:hover {
    opacity: 0.7;
}
.fa {
    color: #454545;
}
.fa-white {
    color: #fff;
}
.img-hover:hover {
    opacity: 0.6;
}
.fa-facebook-social {
  background: #3B5998;
  color: white;
}

.fa-twitch-social {
  background: #6441A4;
  color: white;
}

.fa-twitter-social {
  background: #55ACEE;
  color: white;
}

.fa-google-social {
  background: #dd4b39;
  color: white;
}

.fa-linkedin-social {
  background: #007bb5;
  color: white;
}

.fa-youtube-social {
  background: #bb0000;
  color: white;
}

.fa-instagram-social {
  background: #125688;
  color: white;
}

.fa-pinterest-social {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost-social {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype-social {
  background: #00aff0;
  color: white;
}

.fa-android-social {
  background: #a4c639;
  color: white;
}

.fa-dribbble-social {
  background: #ea4c89;
  color: white;
}

.fa-vimeo-social {
  background: #45bbff;
  color: white;
}

.fa-tumblr-social {
  background: #2c4762;
  color: white;
}

.fa-vine-social {
  background: #00b489;
  color: white;
}

.fa-foursquare-social {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon-social {
  background: #eb4924;
  color: white;
}

.fa-flickr-social {
  background: #f40083;
  color: white;
}

.fa-yahoo-social {
  background: #430297;
  color: white;
}

.fa-soundcloud-social {
  background: #ff5500;
  color: white;
}

.fa-reddit-social {
  background: #ff5700;
  color: white;
}

.fa-rss-social {
  background: #ff6600;
  color: white;
}
.fa-steam-social {
  background: #213E50;
  color: white;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #303F9F;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
          box-shadow: 0 1px 0 0 #26a69a;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #303F9F;
}
/* Transparent Overlay */
.trans {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1004;
  background-color: rgba(0,0,0,0.3);
}
footer {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer i {
    color: #fff;
}
.nav-drop {
    color: white;
background-color: white;
}  
.nav-drop a {
    color: #303F9F;
}
.nav-drop a:active {
    color: #303F9F;
}
.nav-drop a:hover {
    color: white;
background-color: #303F9F;
}     
.img {
padding:5px;
}     
.center, .center-align {
    text-align: center;
}
.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem;
}
.span_h2 {
    font-weight: 300;
    color: #15191C;
}
.up {
transform: rotate(30deg);
}
.img-rounded {
    border-radius: 3%;
}

.navbar-fixed {
z-index: 998;
}
.fixed {
	position: fixed; 
	top: 0; 
	z-index: 998;
}
.logo-padding {
	left: 15%; 
}
.nav-padding-right {
	padding-right: 15%; 
}
.padding-top {
	padding-top: 20px; 
}
.padding-no {
	padding: 0px -100px 0px; 
}
.collapsible.noborder {
    border: none;
    box-shadow: none;
}
.h3-text { 
    font-size: 1.80em;
}
.h4-text { 
    font-size: 1.70em;
}
.h5-text { 
    font-size: 1.40em;
}
.h6-text { 
    font-size: 1.40em;
}
.download-text { 
    font-size: 1.60em;
}
.collap-text { 
    font-size: 1.50em;
}
.mloader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #303F9F; /* Color */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  position: fixed;
  z-index: 1005;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 

.hide-loader{
display:none;
}